@media only screen and (max-width: 414px){

    @font-face {
        font-family: "Raleway-Regular";
        src: local("Raleway-Regular"), url(../fonts/Raleway-Regular.ttf);
        }
    
        @font-face {
        font-family: "Raleway-Thin";
        src: local("Raleway-Thin"), url(../fonts/Raleway-Thin.ttf);
        }
    
        @font-face {
        font-family: "Raleway-SemiBold";
        src: local("Raleway-SemiBold"), url(../fonts/Raleway-SemiBold.ttf);
        }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    *:focus {
        outline: none;
    }

    .Navigation {
        position: sticky;
        width: 100%;
        z-index: 1000;
    }

    .navigation-div {
        display: none;
    }

    .toggle-button {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 2rem;
        height: 2rem;
        background: transparent;
        border: none;
        padding: 0;
        box-sizing: border-box;
    }

    .toggle-button-line {
        width: 2rem;
        height: 2px;
        background: black;
    }

    .side-drawer {
        background: url("../media/dark_background.jpg");

        margin-top: 1rem;
        width: 120%;
        height: 20%;
        position: sticky;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-family: "Raleway-Thin";
        color: white;
        border-bottom: 1px solid;
        font-size: 12px;
        -webkit-font-smoothing: antialiased;
        z-index: 1000;
        transform: translateX(-120%);
    }

    .side-drawer.open {
        transform: translateX(0);
    }

    .side-drawer-text {
        padding-top: 0.2rem;
        float: right;
    }

    .side-drawer-text:hover {
        color: #e44c8b;
        transition: 0.2s;
    }

    .side-drawer-text:active {
        color: #e44c8b;
        transition: 0.2s;
    }

    .back-drop {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
    }
}
