@media only screen and (min-width: 415px){

    @font-face {
        font-family: "Raleway-Regular";
        src: local("Raleway-Regular"), url(../fonts/Raleway-Regular.ttf);
    }
    
    @font-face {
        font-family: "Raleway-Thin";
        src: local("Raleway-Thin"), url(../fonts/Raleway-Thin.ttf);
    }
    
    @font-face {
        font-family: "Raleway-SemiBold";
        src: local("Raleway-SemiBold"), url(../fonts/Raleway-SemiBold.ttf);
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    *:focus {
        outline: none;
    }

    .portfolio {
        background: white;
        margin-top: 6rem;
        margin-left: 10%;
        margin-right: 10%;
        font-family: "Raleway-Regular";
        background-size: 100% 100%;
        min-height: 100vh;
        position: relative;
        cursor: default;
    }

    .portfolio > h1 {
        text-align: center;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }

    .projects {
        display: flex;
        justify-content: space-evenly;
        margin-top: 4rem;
    }

}